.status {
    display: flex;
    justify-content: center;
    align-items: center;

    max-width: 13.4rem;
    width: 100%;
    font-size: $fs-3;
    font-weight: $fw-3;
    height: 3.4rem;

    margin: auto;
    border-radius: 0.5rem;

    &_fulfilled {
        color: $blue;
        background-color: rgba($blue, 0.1);
    }

    &_paid {
        color: $light-green;
        background-color: rgba($light-green, 0.1);
    }

    &_cancelled {
        color: $red;
        background-color: rgba($red, 0.1);
    }

    &_partiallyPaid {
        color: $light-purple;
        background-color: rgba ($light-purple, 0.1);
    }

    &_partiallyFulfilled {
        color: $light-blue;
        background-color: rgba($light-blue, 0.1);
    }

    &_refunded {
        color: $dark-gray;
        background-color: rgba($dark-gray, 0.1);
    }

    &_unfulfilled,
    &_pending {
        color: $light-orange;
        background-color: rgba($light-orange, 0.1);
    }

    &_draft {
        color: $default-gray;
        background-color: rgba($default-gray, 0.1);
    }

    &_partiallyRefunded {
        color: $primary;
        background-color: rgba($primary, 0.1);
    }
}